version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: NovaFlix.Api/Dockerfile
    container_name: novaflix-api
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      # Override connection string to point to the db container
      - ConnectionStrings__ApiDatabase=Host=db;Port=5432;Database=postgres;Username=postgres;Password=admin
      - ASPNETCORE_ENVIRONMENT=Development

  db:
    image: postgres:17
    container_name: novaflix-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=admin
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:

